@import './utils/vars';
@import './utils/reset';
@import './utils/placeholder';


@import './common/common';

@import './components/pop-up/pop-up';

@import './components/logo';

@import './components/header/header';
@import './components/header/site_nav';
@import './components/header/auth_nav';

@import './components/hero/hero';

@import './components/main-home/advantage';
@import './components/main-home/work';
@import './components/main-home/our-team';
@import './components/main-home/clients';

@import './components/portfolio/filter';
@import './components/portfolio/gallery';

@import './components/footer/footer';
@import './components/footer/join';
@import './components/footer/subscribe';
