.footer__logo {
  color: $color-white;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $dark-grey-background;
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-top: 20px;
  .footer__item + .footer__item {
    margin-top: 9px;
  }
}

.footer__link {
  font-style: normal;
  font-size: $font-14;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  transition: color $cubik;
  &:hover,
  &:focus {
    color: $color-white;
    outline: none;
  }
}

.footer__white-link {
  color: $color-white;
}
