.join {
  margin-left: 70px;
}

.join__title {
  font-weight: $weight-700;
  color: $color-white;
}

.join__social {
  margin-top: 20px;
  display: flex;
}

.join__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $color-white;
  transition: background-color $cubik;
  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
    fill: $color-white;
    outline: none;
  }
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__svg {
  width: 20px;
  height: 20px;
}
