.header__auth-nav {
  display: flex;
  margin-left: auto;

  .header__item + .header__item {
    margin-left: 50px;
  }

  .header__contacts {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $secondary-text-color;
    font-weight: $weight-500;
    font-size: $font-14;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    fill: $secondary-text-color;
    transition: color $cubik, fill $cubik;
    &:hover,
    &:focus {
      fill: $accent-color;
      color: $accent-color;
      outline: none;
    }
  }
}
