.header__nav {
  display: flex;
  align-items: center;

  .header__site-nav {
    display: flex;
    margin-left: 93px;
  }

  .header__item + .header__item {
    margin-left: 50px;
  }

  .header__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    color: $primary-text-color;
    font-weight: $weight-500;
    font-size: $font-14;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color $cubik;

    &:hover,
    &:focus {
      color: $accent-color;
      outline: none;
    }
  }

  .header__current {
    color: $accent-color;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
}
