$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$color-white: #ffffff;
$light-grey-background: #f5f4fa;
$dark-grey-background: #2f303a;
$icons-color: #afb1b8;
// fonts
$font-default: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
$weight-900: 900;

$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-26: 26px;
$font-36: 36px;

/* others */
$indent: 30px;
$items: 4;

/* 250ms +  cubic-bezier */
$cubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
