body {
  font-family: $font-default;
  color: $primary-text-color;
  background-color: $color-white;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

//  Глобальный h2
.subject {
  font-style: normal;
  font-size: $font-28;
  line-height: calc(33px / 28px);
  text-align: center;
  @media screen and (min-width: $desktop) {
    font-size: $font-36;
    line-height: calc(42px / 36px);
  }
}

// глобальный h3
.basic-heding {
  font-weight: $weight-400;
  font-size: $font-14;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.visibility-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
